
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black; /*#f0f0f0;*/
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}


/* Basic styling for the navigation bar */
.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 10px 20px; /* Adjust padding as needed */
  color: white;
}

.navigation ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.left-buttons li,
.right-buttons li {
  margin: 0 10px;
}

.left-buttons a {
   text-decoration: none;
  color: lightyellow;
  font-weight: bold;
}

.right-buttons a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Align right buttons to the right */
.right-buttons {
  margin-left: auto;
}


.title-with-background {
    background-image: url("images/titlebackground.jpg");
    background-size: cover;
    background-position: center bottom;
    color: white; /* Set text color for better readability */
    padding: 400px 0 0 50px;
    min-height: 500px;

}

.title-with-background .navigation {
  margin-top: 50px;
}


.star-background {
    background-image: url("images/star-background.jpg");
    background-size: cover;
    background-position: center bottom;
    padding-top: 0;

}

.hero {
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.hero h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.about-section {
  display: flex;
  justify-content: space-between;
  padding: 50px 0; /* Add padding to the section */
  background-color: black; /*#f0f0f0; /* Add a background color */
  margin: 0 auto; 
  max-width: 1000px;
  align-items: center;
}

.about-content {
    display: flex;
    flex-direction: row; /* Display items side by side */
    align-items: center; /* Vertically align items */
}

.about-image {
 flex: 1;
 padding: 20px;
}


.about-image img {
  max-width: 400px; /* Adjust image width as needed */
}

.about-text {
  flex: 2;
  padding: 20px;
}

.project-section {
  padding: 50px 0; /* Add padding to the section */
  background-color: black; /*#f0f0f0; /* Add a background color */
  margin: 0 auto;
  max-width: 1000px;
  align-items: center;
}
.project-content {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center-align items horizontally */
}
.proj-image img {
  max-width: 1000px; /* Adjust image width as needed */
}

.proj-text {
  padding: 20px;
}

.publication-section {
  padding: 50px 0; /* Add padding to the section */
  background-color: black; /*#f0f0f0; /* Add a background color */
  margin: 0 auto;
  max-width: 1000px;
  align-items: center;
}

.present-section {
  padding: 50px 0; /* Add padding to the section */
  background-color: white; /*#f0f0f0; /* Add a background color */
  margin: 0 auto;
  max-width: 1000px;
  align-items: center;
}
.present-content {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center-align items horizontally */
}

.present-images {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.present-image {
    flex-basis: calc(50% - 10px);
    margin-right: 20px;
    margin-bottom: 20px;
}

.present-image img {
  max-width: 400px; /* Adjust image width as needed */
  height: auto;
}

.present-text {
  padding: 20px;
}

.contact-section {
  padding: 50px 0; /* Add padding to the section */
  background-color: black; /*#f0f0f0; /* Add a background color */
  margin: 0 auto;
  max-width: 1000px;
  align-items: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


/* Style for the video container */
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (height / width) */
  height: 0;
  overflow: hidden;
}

/* Style for the embedded video */
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}







/* Add more styles as needed */
